name: CI

on:
  push: {}
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - name: install bazelisk
        run: |
          sudo npm install -g @bazel/bazelisk

      - name: install compiler
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc

      - uses: actions/checkout@v2
      - name: build all
        run: bazelisk build //...
