name: CI

on:
  push: {}
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        calendar: [2020]
        day: [day_01,day_02,day_03]

    steps:
      - uses: actions/checkout@v2
      - name: run
        run: bazelisk run //${{ matrix.calendar }}/${{ matrix.day }}
